.members-actions {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.head{
 font-weight: bold;
    text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 15px;
  border: 1px solid #ddd;
}

button {
  margin-right: 10px;
  padding: 10px 10px;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  background: rgba(0,0,0,0.5);
  display:flex;
  align-items:center;
  justify-content:center;
}

.modal {
  background:white;
  padding:30px;
  border-radius:8px;
  width: 400px;
}

.modal-actions {
  display:flex;
  justify-content:flex-end;
  gap:15px;
  margin-top:15px;
}